[Settings]
tile_size_x=1
tile_size_z=1
model_scale=1.0

; Default camera settings on startup.
[Camera]
zoom=11.0
rotation_x=-45.0
rotation_y=45.0

; A section to define scales for specific models by their filename.
; These can be overridden by a config.cfg inside a model subfolder.
[ModelScales]
; example_model.glb = 1.5

; Universal camera settings for the asset preview thumbnails.
; These can be overridden by a config.cfg in a model subfolder.
[AssetPreviewCamera]
position=Vector3(0, 1, 2.0)
look_at=Vector3(0, 0.5, 0)
